<div id="<%= dom_id pin %>">
  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= pin.body %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= pin.text %>
  </p>

</div>
